* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pikachu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15em;
  height: 30em;
  width: 30em;
  background: #ffd;
  border-radius: 50%;
  z-index: -2;
}

.head {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7em 0 0 -4em;
  height: 8em;
  width: 8em;
  border: 0.3em solid #000;
  background: #ffd700;
  border-radius: 50% 45% 30% 50%;
  z-index: 2;
}

.head::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 2.5em 0 0 0.21em;
  height: 3.3em;
  width: 7.2em;
  content: '';
  background: inherit;
  border-radius: 40% 20% 20% 30% / 80% 80% 20% 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.head::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.7em 0 0 1.5em;
  height: 1.2em;
  width: 1.1em;
  content: '';
  background: #f00;
  border-radius: 50%;
}

.head .left-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.3em 0 0 0em;
  height: 1.2em;
  width: 1.2em;
  background: #000;
  border-radius: 50%;
}

.head .left-eye::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.4em 0 0 -0.35em;
  height: 0.4em;
  width: 0.4em;
  content: '';
  background: #fff;
  border-radius: 50%;
}

.head .right-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.2em 0 0 -3.2em;
  height: 1.1em;
  width: 0.6em;
  background: #000;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.head .right-eye::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.3em 0 0 -0.15em;
  height: 0.25em;
  width: 0.25em;
  content: '';
  background: #fff;
  border-radius: 50%;
}

.head .right-eye::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 1.2em 0 0 -0.2em;
  height: 1em;
  width: 0.4em;
  content: '';
  background: #f00;
  border-radius: 50%;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

.head .nose {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.1em 0 0 -1.9em;
  height: 0;
  width: 0;
  border-left: 0.27em solid transparent;
  border-right: 0.27em solid transparent;
  border-bottom: 0.3em solid  #000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.head .nose::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  height: 1em;
  width: 5em;
  content: '';
  background: #ffb700;
  border-top-left-radius: 3em 1em;
  border-top-right-radius: 2em 1em;
  -webkit-box-shadow: inset 0 0.5em #ffd700;
          box-shadow: inset 0 0.5em #ffd700;
}

.head .mouth {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.65em 0 0 -1.6em;
  height: 0.8em;
  width: 1.5em;
  background: #ffd700;
  border-bottom-right-radius: 1em 0.5em;
  border-bottom: 0.18em solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.head .mouth::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0.6em 0 0 -1.75em;
  height: 0.8em;
  width: 1.25em;
  content: '';
  background-color: inherit;
  border-bottom-left-radius: 1em 0.5em;
  border-bottom: 0.18em solid #000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.head .mouth::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4.7em 0 0 0.4em;
  height: 0.8em;
  width: 0.7em;
  content: '';
  background: inherit;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.left-ear {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7.2em 0 0 2.2em;
  height: 1.5em;
  width: 5em;
  border: 0.25em solid #000;
  background: #ffd700;
  border-top-left-radius: 4em 0.75em;
  border-bottom-left-radius: 4em 0.75em;
  -webkit-box-shadow: inset 1em 0em  #000;
          box-shadow: inset 1em 0em  #000;
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

.right-ear {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10em 0 0 -3.3em;
  height: 5em;
  width: 1.5em;
  border: 0.2em solid #000;
  background: #ffb700;
  border-top-right-radius: 0.65em 4em;
  border-top-left-radius: 0.85em 4em;
  -webkit-box-shadow: inset 0em 1.5em  #000;
          box-shadow: inset 0em 1.5em  #000;
  -webkit-animation: ear-move 1s infinite alternate ease-in-out;
          animation: ear-move 1s infinite alternate ease-in-out;
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 2em 0 0 0;
  height: 10em;
  width: 9em;
  border: 0.3em solid #000;
  background: #ffd700;
  border-radius: 40% 20% 20% 30% / 80% 80% 20% 20%;
  -webkit-box-shadow: inset 0 -0.5em #ffb700;
          box-shadow: inset 0 -0.5em #ffb700;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.left-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.9em 0 0 -0.5em;
  height: 3em;
  width: 2em;
  border: 0.2em solid #000;
  background: #ffd700;
  border-radius: 0 0 60% 40% / 0 0 100% 100%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.left-hand::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.54em 0 0 -1em;
  height: 0.4em;
  width: 2.2em;
  content: '';
  background: inherit;
}

.right-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em 0 0 -4.4em;
  height: 3em;
  width: 2em;
  border: 0.2em solid #000;
  background: #ffd700;
  border-radius: 0 0 40% 60% / 0 0 100% 100%;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.right-hand::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.6em 0 0 -1em;
  height: 0.4em;
  width: 2.2em;
  content: '';
  background: inherit;
}

.left-foot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 5.8em 0 0 1em;
  height: 1.5em;
  width: 4em;
  border: 0.3em solid #000;
  background: #ffb700;
  border-top-right-radius: 3em 0.5em;
  border-bottom-right-radius: 3em 1em;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.right-foot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 5.5em 0 0 -5em;
  height: 1.5em;
  width: 4em;
  border: 0.3em solid #000;
  background: #ffb700;
  border-top-left-radius: 3em 0.5em;
  border-bottom-left-radius: 3em 1em;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.tail {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 3.2em 0 0 3.6em;
  height: 1.5em;
  width: 1.8em;
  border: 0.3em solid #000;
  background: #8b4513;
  -webkit-transform: skewX(-10deg) rotate(-20deg);
          transform: skewX(-10deg) rotate(-20deg);
  -webkit-animation: tail-move 1s infinite alternate ease-in-out;
          animation: tail-move 1s infinite alternate ease-in-out;
}

.tail::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.1em 0 0 -0.4em;
  height: 2em;
  width: 2.5em;
  border: 0.3em solid #000;
  content: '';
  background: #ffb700;
}

.tail::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6.5em 0 0 0.8em;
  height: 4em;
  width: 5em;
  border: 0.3em solid #000;
  content: '';
  background: #ffb700;
}

.tail .tail-arrange {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.85em 0 0 0.7em;
  height: 1.1em;
  width: 1.8em;
  background: #ffb700;
  z-index: 1;
}

.tail .tail-arrange::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 1.55em 0 0 -1.75em;
  height: 0.5em;
  width: 0.83em;
  content: '';
  background: #8b4513;
}

.shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 6em 0 0 -5.5em;
  height: 2em;
  width: 14em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
}

@-webkit-keyframes ear-move {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes ear-move {
  0% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes tail-move {
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes tail-move {
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=style.css.map */